.convoyFrame{
    position: absolute; 
    z-index: 99;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    height: 500px;
    width: 1000px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 30px black;
    font-family: "Verdana";
    padding: 15px;
}

.convoyTableContainer{
    height: 390px;
    overflow-y: scroll;
    display: block;
}

table{
    border-collapse: collapse;
    text-align: left;
}

.header{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    width: calc(100% - 17px);
    background-color: #3850e0;
    top: 20px;
    height: 25px;
    border-bottom: 1px solid black;
}

.inventory{
    font-size: 10px;
    width: 100%;
    background-color: white;
}

.inventoryRow{
    height: 30px;
    border-bottom: 1px solid black;
}

.inventoryRow:hover{
    background-color: #efefef;
    cursor: pointer;
}

.itemStats{
    height: 20px;
}

.sortButton{
    width: 100px;
    height: 20px;
    border-radius: 5px;
 	border: 0px;
 	box-shadow: none;
 	background-color: gray;
 	color: white;
}