<div class="authBackground">
	<img src="IMG/belenus.png" class="authImage">
	<div class="authBox authBoxBlurred"></div>
	<div id="authorize-div" class="authBox">
		<div class="authText">
			<img src="IMG/logo.png">
			
		</div>
		<button class="authButton" ng-show="!ready"><img src="IMG/loading.gif"></button>
		<button class="authButton" ng-show="ready" ng-click="loadAPI(event,1)">Home Base</button>
		<button class="authButton2" ng-show="!ready"><img src="IMG/loading.gif"></button>
		<button class="authButton2" ng-show="ready" ng-click="loadAPI(event,2)">Gaiden 2</button>

		<!-- ng-click="loadAPI(event,1)" -->
	</div>
	<div id="loading-div" class="authBox">
		<div class="displayLoading">
			<img ng-src="{{loadingIcon}}"><br>
			<b>{{loadingText}}</b><br>
			<progress id="progress" max="100"></progress>
		</div>
	</div>
</div>