<div class="authBackground">
	<img src="IMG/belenus.png" class="authImage">
	<div class="authBox authBoxBlurred"></div>
	<div id="authorize-div" class="authBox">
		<div class="authText">
			<img src="IMG/logo.png">
		</div>
		<button class="authButton" ng-disabled="!ready" ng-click="loadAPI(event,1)">
			<img src="IMG/loading.gif" ng-show="!ready">
			<span ng-show="ready">Home Base</span>
		</button>
		<button class="authButton" ng-disabled="!ready" ng-click="loadAPI(event,2)">
			<img src="IMG/loading.gif" ng-show="!ready">
			<span ng-show="ready">Gaiden 3</span>
		</button>
		<br />
		<button class="authButton" ng-disabled="!ready" ng-click="loadAPI(event,3)">
			<img src="IMG/loading.gif" ng-show="!ready">
			<span ng-show="ready">Convoy</span>
		</button>
		<button class="authButton" ng-disabled="!ready" ng-click="loadAPI(event,4)">
			<img src="IMG/loading.gif" ng-show="!ready">
			<span ng-show="ready">Shop</span>
		</button>
	</div>
	<div id="loading-div" class="authBox">
		<div class="displayLoading">
			<img ng-src="{{loadingIcon}}"><br>
			<b>{{loadingText}}</b><br>
			<progress id="progress" max="100"></progress>
		</div>
	</div>

	<convoy ng-if="showConvoy"></convoy>
	<shop ng-if="showShop"></shop>
</div>