<div class="convoyFrame">
    <div style="height: 45px; vertical-align: bottom;">
        <img src="IMG/close.png" ng-click="closeConvoy()" class="hoverImage" title="Close convoy" style="float: right;"></img>
        <table class="header">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Rank</td>
                <td>Uses</td>
                <td>Owner</td>
                <td>Value</td>
                <td>Effect</td>
                <td>Description</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tbody ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.type)" ng-init="showExtInfo=false" ng-click="showExtInfo=!showExtInfo">
                <tr class="inventoryRow">
                    <td>{{item.name}}</td>
                    <td ng-style="{'background-color' : getRowColor(item.type)}">{{item.type}}</td>
                    <td>{{item.rank}}</td>
                    <td>{{item.uses}}</td>
                    <td>{{item.owner}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.effect}}</td>
                    <td>{{item.desc}}</td>
                </tr>
                <tr ng-show="showExtInfo" class="itemStats" ng-style="{'background-color' : getRowColor(item.type)}">
                    <td colspan="8">[Item Stats] Might: {{item.might}} | Hit: {{item.hit}} | Crit: {{item.crit}} | Weight: {{item.weight}} | Range: {{item.range}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 60px;">
        <div style="width: 500px; display: inline-block; font-size: 10px;">
            <span style="font-size: 12px;">Show Item Types</span>
            <br />
            <input type="checkbox" ng-model="showSword" class="showChkbx">Sword</input>
            <input type="checkbox" ng-model="showLance" class="showChkbx">Lance</input>
            <input type="checkbox" ng-model="showAxe" class="showChkbx">Axe</input>
            <input type="checkbox" ng-model="showBow" class="showChkbx">Bow</input>
            <input type="checkbox" ng-model="showTalisman" class="showChkbx">Talisman</input>
            <br />
            <input type="checkbox" ng-model="showTome" class="showChkbx">Tome</input>
            <input type="checkbox" ng-model="showRelic" class="showChkbx">Relic</input>
            <input type="checkbox" ng-model="showStaff" class="showChkbx">Staff</input>
            <input type="checkbox" ng-model="showOther" class="showChkbx">Other</input>
        </div><div style="width: 500px; display: inline-block;">
            <span style="font-size: 12px;">Sort Order</span>
            <br />
            <button ng-click="updateSortOrder('name')" class="sortButton">Name</button>
            <button ng-click="updateSortOrder('type')" class="sortButton">Type</button>
            <button ng-click="updateSortOrder('rank')" class="sortButton">Rank</button>
            <br />
            <button ng-click="updateSortOrder('-uses')" class="sortButton">Uses</button>
            <button ng-click="updateSortOrder('owner')" class="sortButton">Owner</button>
            <button ng-click="updateSortOrder('-value')" class="sortButton">Value</button>
        </div>
    </div>
</div>