<div class="convoyFrame">
    <div style="height: 10%; vertical-align: bottom;">
        <button ng-click="closeConvoy()">Close</button>
        <table class="header">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Rank</td>
                <td>Uses</td>
                <td>Owner</td>
                <td>Value</td>
                <td>Effect</td>
                <td>Description</td>
            </tr>
        </table>
    </div>
    <div class="convoyTableContainer">
        <table class="inventory">
            <colgroup>
                <col width="10%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="20%" />
                <col />
            </colgroup>
            <tr ng-repeat="item in items | orderBy: getItemSortOrder()" ng-if="displayItemType(item.type)" class="inventoryRow">
                    <td>{{item.name}}</td>
                    <td ng-style="{'background-color' : getRowColor(item.type)}">{{item.type}}</td>
                    <td>{{item.rank}}</td>
                    <td>{{item.uses}}</td>
                    <td>{{item.owner}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.effect}}</td>
                    <td>{{item.desc}}</td>
            </tr>
        </table>
    </div>
    <div style="height: 10%;">
        Show Item Types:
        <input type="checkbox" ng-model="showSword">Sword</input>
        <input type="checkbox" ng-model="showLance">Lance</input>
        <input type="checkbox" ng-model="showAxe">Axe</input>
        <input type="checkbox" ng-model="showBow">Bow</input>
        <input type="checkbox" ng-model="showTalisman">Talisman</input>
        <input type="checkbox" ng-model="showTome">Tome</input>
        <input type="checkbox" ng-model="showRelic">Relic</input>
        <input type="checkbox" ng-model="showStaff">Staff</input>
        <input type="checkbox" ng-model="showOther">Other</input>
        <br/>
        Sort Order:
        <button ng-click="updateSortOrder('name')">Item Name</button>
        <button ng-click="updateSortOrder('type')">Type</button>
        <button ng-click="updateSortOrder('rank')">Rank</button>
        <button ng-click="updateSortOrder('-uses')">Uses</button>
        <button ng-click="updateSortOrder('owner')">Owner</button>
        <button ng-click="updateSortOrder('-value')">Value</button>
    </div>
</div>