<div class="mainBackground"></div>
<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" ng-src="{{mapUrl}}">
	
	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in coordinates" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox"
			 ng-repeat="(indexX,column) in coordinates"
			 title="({{column}},{{row}}) {{terrainLocs[column+','+row].type}}: {{terrainTypes[terrainLocs[column+','+row].type].avo}}🚶  {{terrainTypes[terrainLocs[column+','+row].type].def}}⛨"
			 ng-style="{left: determineGlowX(indexX), 'background-color': determineGlowColor(column+','+row)}">
			<div class="glowBoxBorderBox" ng-class="{glowBoxBorder3:showGrid==3, glowBoxBorder2:showGrid==2, glowBoxBorder1:showGrid==1}"></div>
		</div>
	</div>
	
	<img class="absolutePos" ng-src="IMG/time_out.png" style="top:512px">
	
	<audio id="audio" controls loop>
		<source ng-if="musicTrack==0" src="MUS/themeJungle.mp3" type="audio/mpeg">
		<source ng-if="musicTrack==1" src="MUS/themeBattle.mp3" type="audio/mpeg">
  		<source ng-if="musicTrack==2" src="MUS/themeMain.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	 
	<button class="buttonMusicStyle buttonHover" ng-click="toggleMusic()">
		<div ng-if="musicTrack==0">Jungle Theme: Between Those of Light and Dark</div>
		<div ng-if="musicTrack==1">Battle Theme: Break Through Adversity</div>
		<div ng-if="musicTrack==2">Main Theme: Those Who Would End The World</div>
		<div ng-if="musicTrack==3">???</div>
	</button>
	
	<button class="buttonGridStyle buttonHover" ng-click="toggleGrid()">
		Grid Style: 
		<div ng-if="showGrid==0">None</div>
		<div ng-if="showGrid==1">Thin</div>
		<div ng-if="showGrid==2">Medium</div>
		<div ng-if="showGrid==3">Thick</div>
	</button>

	<div class="convoyButton" ng-click="launchConvoyDialog()">
		<span class="convoyButtonText">Convoy</span>
		<img src="IMG/convoy_button.png"></img>
	</div>
	
	<!--Draw character sprites to map-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" class="hoverImage charDiv" ng-if="validPosition(char.position)" title="({{char.position}}) {{terrainLocs[char.position].type}}: {{terrainTypes[terrainLocs[char.position].type].avo}}🚶  {{terrainTypes[terrainLocs[char.position].type].def}}⛨" ng-click="displayData(cIndex)" ng-style="{top: determineCharY(char.position), left: determineCharX($index, char.position)}">
			<div class="charDiv" class="mapCharOffsetNone">
				<img ng-src="{{char.spriteUrl}}" class="mapCharCentered" ng-class="{'grayscale' : hasMoved(char.moved)}">
				<img ng-src="{{getEnemyNum(char.name)}}" class="enemyNum" ng-class="{'numBottom' : !validHP(char.currHp, char.maxHp)}">
				<img ng-src="{{getStatusIcon(char.status.name, char.turnsLeft)}}" class="enemyNum">
			</div>
			<div ng-if="validHP(char.currHp, char.maxHp)">
				<div class="healthBarBack"></div>
				<div class="healthBarFront" ng-style="{width:(1+(char.currHp/char.maxHp)*12)+'px','background-color': determineHPColor(char.currHp, char.maxHp)}"></div>
				<div class="healthBarBorder"></div>
			</div>
			<div id="{{cIndex}}_pairIcon" class="pairUpIcon" ng-class="{'numBottom' : !validHP(char.currHp, char.maxHp)}" style="display:none">
				<img src="IMG/shield_pairup.png">
			</div>
		</div>
	</div>

	<!--Information boxes-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="enemyInfo" draggable="true" ng-style="{'background-color': determineInfoColor(char.affiliation)}" ng-show="checkCharToggle(cIndex)">
		<!--Buttons-->
		<div class="absolutePos olive enemyBar">
			<!--Close button-->
			<div class="enemyBarButton hoverImage" title="Close" ng-click="removeData(cIndex)" style="right:2px">
				<img src="IMG/close.png">
			</div>
		</div>
		
		<!--Name-->
		<div class="infoElement darkTan tanText enemyNamePos hoverStatus" ng-mouseover="nameHoverIn(cIndex)" ng-mouseleave="nameHoverOut(cIndex)">
			<span class="boldText popOutText popOutHeader" >{{char.name}}</span>
			<span class="popOutLevel" style="top:21px">Lv. {{char.lvl}}  {{char.class.name}}</span>
		</div>
		
		<!--Battle Stats-->
		<div class="infoElement darkerTan tanText enemyBattlePos">
			<span class="enemyBattleLabel" style="margin-left:15px; margin-top:5px">Att</span>
			<span class="enemyBattleLabel" style="margin-left:115px; margin-top:5px">Hit</span>
			<span class="enemyBattleLabel" style="margin-left:11px; margin-top:25px">Crit</span>
			<span class="enemyBattleLabel" style="margin-left:112px; margin-top:25px">Avo</span>
			<span class="indentedBattleStat" style="margin-left:42px; margin-top:2px">{{calcAttack(cIndex)}}</span>
			<span class="indentedBattleStat" style="margin-left:150px; margin-top:2px">{{calcHit(cIndex)}}</span>
			<span class="indentedBattleStat" style="margin-left:42px; margin-top:22px">{{calcCrit(cIndex)}}</span>
			<span class="indentedBattleStat" style="margin-left:150px; margin-top:22px">{{calcAvo(cIndex)}}</span>
		</div>
		
		<!--Gold-->
		<div class="infoElement darkTan tanText enemyGoldPos hoverStatus" ng-mouseover="goldHoverIn(cIndex)" ng-mouseleave="goldHoverOut(cIndex)">
			<span class="enemyStatLabel">G</span>
			<span class="indentedGold">{{char.gold}}</span>
		</div>
		
		<!--Status-->
		<div class="infoElement darkTan tanText enemyStatusPos hoverStatus" ng-mouseenter="statusHoverIn(cIndex)" ng-mouseleave="statusHoverOut(cIndex)">
			<span class="enemyStatLabel">{{getStatusName(char.status.name)}}</span>
			<span ng-if="enemyHasStatus($index)" class="indentedStatus">{{char.turnsLeft}}</span>
		</div>
		
		<!--Terrain-->
		<div class="infoElement darkTan tanText enemyTerrainPos hoverStatus" ng-mouseenter="terrainHoverIn(cIndex)" ng-mouseleave="terrainHoverOut(cIndex)">
			<span class="enemyTerrainLabel">Terrain: {{terrainLocs[char.position].type}}</span>
		</div>
		
		<!--Weakness Icons-->
		<span ng-repeat="w in char.class.weaknesses" class="indentedEWeaknessIcon" title="{{w}}" ng-style="{left: fetchWeaknessHorzPos($index), top: fetchWeaknessVerticalPos($index)}">
			<img ng-src="{{getWeaknessIcon(w)}}"/>
		</span>
		
		<!--Skills-->
		<div ng-repeat="skill in char.skills" class="infoElement paleTan blackText hoverTan enemyGemPos" ng-mouseenter="skillHoverIn(cIndex, $index)" ng-mouseleave="skillHoverOut(cIndex, $index)" ng-style="{top: fetchSklVerticalPos($index)}">
			<span ng-if="validSkill(skill.name)" class="indentedEnemySkill">{{skill.name}}</span>
		</div>
		
		<!--Stats Column-->
		<!--HP-->
		<div class="infoElement darkerTan tanText enemyStatPos" style="top:5px;">
			<span class="enemyStatLabel">HP</span>
			<span class="indentedEnemyHPStat">{{char.currHp}}/{{char.maxHp}}</span>
		</div>
		<!--Other Stats-->
		<div ng-repeat="stat in statsList" class="infoElement darkerTan tanText enemyStatPos" ng-style="{top: fetchStatVerticalPos($index)}">
			<span class="enemyStatLabel">{{stat[0]}}</span>
			<span class="indentedEnemyStat">{{char[stat[0]]}}</span>
		</div>
		<!--Movement-->
		<div class="infoElement darkerTan tanText enemyMovPos" style="margin-left:280px;width:79px">
			<span class="enemyStatLabel">Mov</span>
			<span class="indentedExp">{{char.Mov}}</span>
		</div>
		
		<!--Item Inventory-->
		<div ng-repeat="item in char.inventory" class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="weaponHoverIn(cIndex, $index)" ng-mouseleave="weaponHoverOut(cIndex, $index)" ng-style="{top: fetchWeaponVerticalPos($index)}">
			<span class="indentedEWeaponIcon" ng-if="validWeapon(item.name)"><img ng-src="{{getWeaponClassIcon(item.class, item.altIcon)}}"/></span>
			<span class="indentedEnemyItem" ng-class="{'unusableItem' : !itemCanBeUsed(cIndex, $index+1)}" ng-style="{color: determineItemColor(item.name)}">{{formatWeaponName(item.name)}}</span>
		</div>
		
		<!--Experience-->
		<div ng-if="validExp(char.exp)">
			<span class="enemyExpLabel">EXP</span>
			<span class="enemyExpNum">{{char.exp}}</span>
			<div class="expBackground"></div>
			<div class="expBar" ng-style="{width: calcExpBarPercent(char.lvl, char.exp)}"></div>
		</div>
		
		<!--Weapon ranks-->
		<div ng-repeat="rank in char.weaponRanks" ng-if="existsWeaponRank(rank.class)" title="{{rank.rank}} Rank" class="infoElement enemyWeaponRankPos" ng-style="{left: fetchWpnRankHorzPos($index)}">
			<span style="position:relative">
				<img ng-src="{{getWeaponRankIcon(rank.class)}}" style="display:inline-block">
				<div class="weaponRankLtrPos tanText">{{formatWeaponRank(rank.rank)}}</div>
				<div class="weaponRankBackground"></div>
				<div class="weaponRankBar" ng-style="{width: calcWeaponExp(rank.exp)}"></div>
			</span>
		</div>
	
		<!--Unit Name Info Boxes-->
		<div ng-if="nameHoverOn(cIndex)" class="infoElement green whiteText enemyBlurbPos" style="top:5px">
			<div class="popOutText popOutBlurb"><p><b>{{char.name}}</b><br>
			{{char.blurb}}</p>
			<p><b>{{char.class.name}}</b><br>
			{{char.class.desc}}</p></div>
		</div>
		
		<!--Status Effect Info Boxes-->
		<div ng-if="statusHoverOn(cIndex)" class="infoElement green whiteText enemyStatusPopPos" style="top:121px">
			<span class="enemyStatusPopLabel"><b>{{getStatusName(char.status.name)}}</b>
			<span ng-if="getTurnsLeft(char.turnsLeft > 0)">
				<b> for {{char.turnsLeft}} turn</b>
				<b ng-if="getTurnsLeft(char.turnsLeft) > 1">s</b>
			</span>
			<br>
			<span ng-if="char.status.name != 'None' && char.status.name != 'Defeated'"> Type: {{char.status.class}}<br></span>
			<span> Effect: {{char.status.desc}}</span>
			</span>
		</div>
		
		<!--Terrain Info Boxes-->
		<div ng-if="terrainHoverOn(cIndex)" class="infoElement green whiteText enemyTerrainPopPos" style="top:121px">
			<span class="enemyStatusPopLabel"><b>{{terrainLocs[char.position].type}}</b>
			<br>
			<span> Avoid Modifier: {{terrainTypes[terrainLocs[char.position].type].avo}}<br></span>
			<span> Damage Modifier: {{terrainTypes[terrainLocs[char.position].type].def}}<br></span>
			<span>{{terrainTypes[terrainLocs[char.position].type].effect}}<br></span>
			<span><i>{{terrainTypes[terrainLocs[char.position].type].desc}}</i><br></span>
			</span>
		</div>
		
		<!--Gold Info Boxes-->
		<div ng-if="goldHoverOn(cIndex)" class="infoElement green whiteText enemyGoldPopPos" style="top:134px">
			<span class="enemyStatusPopLabel"><b>{{char.gold}} Gilders</b>
			<br>
			<span>Gilders are small ivory coins used as the primary currency in The World. They can be used to purchase items, buy weaponry, and even bribe foes. </span>
			</span>
		</div>
	
		<!--Skill Gem Info Boxes-->
		<div ng-repeat="skill in char.skills" ng-if="skillHoverOn(cIndex, $index) && validSkill(skill.name)" class="infoElement green whiteText enemySkillGemInfoPos" ng-style="{top: fetchSklDescVerticalPos($index)}">
			<div class="boldText popOutText popOutHeader">{{skill.name}}</div>
			<div class="popOutText popOutBody">{{skill.desc}}</div>
		</div>
		
		<!--Weapon Info Boxes-->
		<div ng-repeat="item in char.inventory" class="infoElement green whiteText enemyInventoryInfoPos" ng-if="weaponHoverOn(cIndex, $index) && validWeapon(item.name)" ng-style="{top: fetchWpnDescVerticalPos($index)}">
			<div class="popOutText itemNamePos boldText">{{removeParenthesisWeaponName(item.name)}}</div>
			<div class="popOutText itemRankPos">{{formatItemRank(item.class, item.rank)}}</div>
			<div class="customDivider" style="top:22px"></div>
			<div class="popOutText itemMightPos">Might: {{item.might}}</div>
			<div class="popOutText itemMightPos" style="left:100px">Hit: {{item.hit}}</div>
			<div class="popOutText itemMightPos" style="right:0px">Crit: {{item.crit}}</div>
			<div class="popOutText itemWeightPos">Weight: {{item.weight}}</div>
			<div class="popOutText itemWeightPos" style="right:0px">Range: {{item.range}}</div>
			<div class="customDivider" style="top:58px"></div>
			<div class="popOutText itemEffectPos">{{item.desc}}</div>
			<div class="popOutText itemNotesPos italicText">{{item.notes}}</div>
		</div>
	</div>

	<convoy ng-if="showConvoy" ng-click="launchConvoyDialog()"></convoy>
</div>